# DAY 2 

## Our target for today:
- Installing Anaconda/python

- Getting start with python programming

- Python variable, list. tuples, and dictionaries (datatype)

In [2]:
!dir

 Volume in drive F is New Volume
 Volume Serial Number is D04B-C07D

 Directory of F:\upskill_ml\day2

08/23/2020  07:55 PM    <DIR>          .
08/23/2020  07:55 PM    <DIR>          ..
08/23/2020  07:18 PM    <DIR>          .ipynb_checkpoints
08/23/2020  07:55 PM            26,948 datatype.ipynb
08/23/2020  06:41 PM    <DIR>          img
               1 File(s)         26,948 bytes
               4 Dir(s)   8,801,251,328 bytes free

# About Python

Python is an interpreter-based language.

Python got its name from the BBC TV show Monty Pythonâ€™s Flying Circus. In December of 1989, van Rossum started the implementation of Python and finally published the code of version 0.9.0 in 1991.

<img src='img/history.jpg' width='650'>

In [168]:
!python --version

Python 3.7.2

In [169]:
print("Hello, World!")

Hello, World!

## Data Type

Data type is an important concept. Variables can store data of different types, and different types can do different things.

<img src='img/dtype.jpg' width='650'>

# Number

In [170]:
my_int = 12
int_neg = -34

print(f'value : {my_int}, type: {type(my_int)}')

value : 12, type: <class 'int'>

In [172]:
type(int_neg)

int

In [173]:
my_float = 5.88
# my_float = float(my_int)

print(f'value: {my_float}, type: {type(my_float)}')

value: 5.88, type: <class 'float'>

In [174]:
11 / 2

5.5

In [175]:
11 % 2

1

In [176]:
2 * 3

6

In [178]:
2 ** 3

8

In [179]:
3.4 - .4

3.0

In [180]:
#convert from int to float:
x = float(1)

#convert from float to int:
y = int(2.8)

#convert from int to complex:
z = complex(x)

print(x)
print(y)
print(z)

1.0
2
(1+0j)

In [183]:
bool_true = True
bool_false = False

print(bool_false, int(bool_true))

False 1

>## Task 
1. Do `2.2+0.8` 
- convert it to `int`
- square it

- Also calculate this in python and print the result `0.1 + 0.1 + 0.1`

In [3]:
# y = 2.2 + 0.8
# print(y)
# y = int(y)
# print(y)
# y = y ** 2
# print(y)

0.1 + 0.1 + 0.1

0.30000000000000004

### Read this (Optional)
- https://docs.python.org/3/tutorial/floatingpoint.html

# String

In [4]:
my_string = 'Python is my favorite programming language!'
type(my_string)

str

In [7]:
print(my_string)

Python is my favorite programming language!

In [8]:
long_story = ('Lorem ipsum dolor sit amet, consectetur adipiscing elit.' 
              'Pellentesque eget tincidunt felis. Ut ac vestibulum est.' 
              'In sed ipsum sit amet sapien scelerisque bibendum. Sed ' 
              'sagittis purus eu diam fermentum pellentesque.')
long_story

'Lorem ipsum dolor sit amet, consectetur adipiscing elit.Pellentesque eget tincidunt felis. Ut ac vestibulum est.In sed ipsum sit amet sapien scelerisque bibendum. Sed sagittis purus eu diam fermentum pellentesque.'

### str.replace()

In [9]:
print(my_string)
my_string = my_string.replace('a', '?')
print(my_string)

Python is my favorite programming language!
Python is my f?vorite progr?mming l?ngu?ge!

### str.format()

In [10]:
str_random = "Python"
secret = '{} is cool'.format(str_random)
print(secret)

Python is cool

In [11]:
str_random = "Python"
secret = '{}, {}, {} are cool!'.format(str_random, 'java', 'c#')
print(secret)

Python, java, c# are cool!

### str.join()

In [14]:
value1 = 'python'
value2 = 'java'
value3 = 'c#'

join_str = '#'.join( [value1, value2, value3] )

join_str

'python#java#c#'

### str.strip()

In [22]:
unformatted = '\n  Some story to tell \n'
stripped = unformatted.strip()

print('Before: {}'.format(unformatted))
print('After: {}'.format(unformatted.strip()))

Before:
  Some story to tell

After: Some story to tell

### others

In [26]:
sentence = 'three different words'
words = sentence.split()
print(words)

['three', 'different', 'words']

In [27]:
mixed_case = 'PyTHoN iS COOL'
mixed_case.upper()

'PYTHON IS COOL'

In [28]:
mixed_case.lower()

'python is cool'

In [29]:
mixed_case.title()

'Python Is Cool'

># Task
1. Remove unnecessary spaces ' Python strings are COOL! '
2. Then convert it to `upper case`
3. Split it into words

In [79]:
# task code
task_str = ' Python strings are COOL! '

# List

In [32]:
my_list = [1, 'is', [2,3],'still', 'cool']

print(my_list[0])
print(my_list[3])
print(my_list)

1
still
[1, 'is', [2, 3], 'still', 'cool']

In [33]:
my_list = [0, 1, 2, 3, 4, 5]
print(my_list)

my_list[0] = 99
print(my_list)

[0, 1, 2, 3, 4, 5]
[99, 1, 2, 3, 4, 5]

In [45]:
my_list = [1]
print(my_list)

my_list.append(99)
print(my_list)

[1]
[1, 99]

In [35]:
my_list = ['Python', 'is', 'sometimes', 'fun']
my_list.remove('sometimes')
print(my_list)

['Python', 'is', 'fun']

In [38]:
numbers = [8, 1, 6, 5, 10]
numbers.sort()
my_list = ['a', 'b', 'd', 'c']
my_list.sort()
print(my_list)

['a', 'b', 'c', 'd']

In [40]:
first_list = ['beef', 'ham']
second_list = ['potatoes',1 ,3, 1]

second_list.extend(first_list)

second_list

['potatoes', 1, 3, 1, 'beef', 'ham']

In [43]:
second_list.count(1)

2

In [44]:
first_list.reverse()
first_list

['ham', 'beef']

> # Task
1. Convert list1 and list2 into one single_list
2. Sort single_list

In [102]:
# Task code
list1 = [6, 12, 5]
list2 = [6.2, 0, 14, 1]

# Tuple

In [55]:
my_tuple = (1, [1,2], 'p', 'l', 'e')
my_tuple

(1, [1, 2], 'p', 'l', 'e')

In [56]:
my_tuple[1]

[1, 2]

In [57]:
my_tuple.count('p')

1

In [58]:
my_tuple[0] = 0

TypeError: 'tuple' object does not support item assignment

## Mutable vs. Immutable
A mutable object can be changed after it is created, and an immutable object canâ€™t.

<img src='img/mutable.png' width='400'>

# Set

In [60]:
# Different types of sets in Python
# set of integers
l = [1, 5, 3]
my_set = set(l)
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", 3}
print(my_set)

{1, 3, 5}
{1.0, 3, 'Hello'}

In [61]:
# set cannot have duplicates
my_set = {1, 2, 3, 4, 3, 2}
print(my_set)

{1, 2, 3, 4}

In [62]:
# initialize my_set
my_set = {1, 3}
print(my_set)

# add an element
my_set.add(2)
print(my_set)

# add multiple elements
my_set.update([2, 3, 4])
print(my_set)

# add list and set
my_set.update([4, 5], {1, 6, 8})
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

In [63]:
# initialize my_set
my_set = {1, 3, 4, 5, 6}
print(my_set)

# discard an element
my_set.discard(4)
print(my_set)

# remove an element
my_set.remove(6)
print(my_set)

# discard an element
# not present in my_set
my_set.discard(2)
print(my_set)

{1, 3, 4, 5, 6}
{1, 3, 5, 6}
{1, 3, 5}
{1, 3, 5}

In [64]:
# not present in my_set
my_set.remove(2)

KeyError: 2

In [65]:
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(A, B)
# Set union method
print(A | B)
#also this way
print(A.union(B))

# Intersection of sets
print(A & B)
print(A.intersection(B))

# Difference of two sets
print(A - B)
print(A.difference(B))

{1, 2, 3, 4, 5} {4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}

In [67]:
# Frozensets
# initialize A and B
A = frozenset([1, 2, 3, 4])
B = frozenset([3, 4, 5, 6])
# A.add(11)
# A

AttributeError: 'frozenset' object has no attribute 'add'

> # Task 
1. Remove duplicate from list1
2. And sort it without using bult-in sort function

In [69]:
#task code
list1 = [1, 2, 6, 5, 1]
list1 = set(list1)
list1 = list(list1)
print(list1, type(list1))

[1, 2, 5, 6] <class 'list'>

# Dict

In [70]:
dict1 = {'value1': 1.6, 'value2': 10, 'name': 'John Doe'}
dict2 = dict(value1=1.6, value2=10, name='John Doe')

print(dict1)
print(dict2)

{'value1': 1.6, 'value2': 10, 'name': 'John Doe'}
{'value1': 1.6, 'value2': 10, 'name': 'John Doe'}

In [73]:
# print(dict1.keys())
# print(dict1.values())
# print(dict1.items())

dict_items([('value1', 1.6), ('value2', 10), ('name', 'John Doe')])

In [81]:
my_dict = {}

my_dict['key1'] = 'value1'
my_dict['key2'] = 99

print(my_dict)
# # update existing value
my_dict['key1'] = 'new value'
print(my_dict)

my_dict.update({'key1': 'new value2'})
print(my_dict)

{'key1': 'value1', 'key2': 99}
{'key1': 'new value', 'key2': 99}
{'key1': 'new value2', 'key2': 99}

In [79]:
# access value by key
# print(my_dict['key1'])
print(my_dict.get('key2'))

99

In [80]:
# remove value by key1
my_dict.pop('key1')
print(my_dict)

{'key2': 99}

In [83]:
del my_dict['key2']
my_dict

{'key1': 'new value2'}

> # Task 
1. define a dictionary `{'key1': 1, 'key2': 2}`
2. replace value in `key2` by 'two'

In [ ]:
{'key1': 1, 'key2': 2}